doctype html 
html(lang='en')
	head
		meta(charset='utf-8')

		title LIP-Support | #{title}

		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato')
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Audiowide')
		link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
		link(id='size-stylesheet' rel='stylesheet' type='text/css' href='/stylesheets/style.css')
		noscript
			link(rel='stylesheet' media='screen and (max-width: 480px)' href='/stylesheets/320.css')
			link(rel='stylesheet' media='screen and (min-width: 481px) and (max-width: 640px)' href='/stylesheets/480.css')
			link(rel='stylesheet' media='screen and (min-width: 641px) and (max-width: 820px)' href='/stylesheets/640.css')
			link(rel='stylesheet' media='screen and (min-width: 821px) and (max-width: 1024px)' href='/stylesheets/style.css')
			link(rel='stylesheet' media='screen and (min-width: 1025px) and (max-width: 1152px)' href='/stylesheets/1024.css')
			link(rel='stylesheet' media='screen and (min-width: 1153px)' href='/stylesheets/1152.css')
		block scripts
			script(type='text/javascript' src='//code.jquery.com/jquery-latest.min.js')
			script(type='text/javascript' src='/javascripts/settings.js')
			script(type='text/javascript' src='/javascripts/grid.js')
			//script(type='text/javascript' src='/javascripts/sort.js')

	body
		#head
			include logo
			include menu

		block content