ul.fa-ul
  li
    if user
      a(title='Sign out' href='/logout')
        i.fa.fa-sign-out
    else
      a(title='Sign in' href='/login')
        i.fa.fa-sign-in

  if user
    li
      a(title='New tab' href='/settings/tab/create')
        i.fa.fa-plus-circle
  li
    a(title='Intranet' href='http://intra.mpib-berlin.mpg.de')
      | Intranet
  li
    a(title='MPIB-Berlin' href='http://www.mpib-berlin.mpg.de')
      | MPIB-Berlin
  if user
    li
      a(title= user.username href='/accounts/'+ user.username)
        i.fa.fa-user
  li
    a(title='Settings' href='/settings')
      i.fa.fa-cog
  li
    a(title='E-Mail' href='mailto:lipsupport@mpib-berlin.mpg.de')
      i.fa.fa-envelope
  if user
    li
      a(title='Help' href='/help')
        i.fa.fa-question
