ul.fa-ul
	li
		if user
			a(title='Sign out' href='/logout')
				i.fa.fa-sign-out
		else
			a#login(rel='leanModal' name='login' title='Sign in' href='#former')
				i.fa.fa-sign-in
	li
		if user
			a#createtab(rel='leanModal' name='createtab' title='New tab' href='#former')
				i.fa.fa-plus-circle
	li
		a(title='Settings' href='/settings')
			i.fa.fa-cog
	li
		a(title='Write email' href='mailto:your@email.com')
			i.fa.fa-envelope
	li
		a#reload(title='Reload' href='#reload')
			i.fa.fa-refresh
	li
		a#createnote(rel='leanModal' name='createnote' href='#note')