nav.navbar.navbar-inverse.navbar-fixed-top(style='opacity: 0.9;')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      a.navbar-brand(data-toggle='tooltip' data-placement='bottom' data-original-title='Home' href='/')
        | Tabgrid
    
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(data-toggle='tooltip' data-placement='bottom' data-original-title='Link 1' href='#')
            | Link
        
        li
          a(data-toggle='tooltip' data-placement='bottom' data-original-title='Link 2' href='#')
            | Link

      ul.nav.navbar-nav.navbar-right
        if user
          li(class= title == 'Create Tab' ? 'active' : '')
            a(data-toggle='tooltip' data-placement='bottom' data-original-title='Create Tab' href='/settings/tab/create')
              i.fa.fa-plus-circle
        
        li(class= title == 'Settings' ? 'active' : '')
          a(data-toggle='tooltip' data-placement='bottom' data-original-title='Settings' href='/settings')
            i.fa.fa-cog
        
        li
          a.email(data-toggle='tooltip' data-placement='bottom' data-original-title='Email' data-user='user', data-domain='domain')
            i.fa.fa-envelope
        
        if user
          li(class= title == 'Help' ? 'active' : '')
            a(data-toggle='tooltip' data-placement='bottom' data-original-title='Informations' href='/help')
              i.fa.fa-info-circle
        
        if user
          - var a = user.username.substr(0, 1).toUpperCase()
          - var b = user.username.substr(1, user.username.length)
          li.dropdown(class= title == user.username || title == 'Logging' ? 'active' : '')
            a.dropdown-toggle(data-toggle='dropdown' href='/accounts/'+ user.username)
              |  #{a+b}
              span.caret
              
              ul.dropdown-menu
                li
                  a(data-toggle='tooltip' data-placement='left' data-original-title= a+b+"'s Grid" href='/accounts/'+ user.username)
                    i.fa.fa-user
                    |  #{a+b}'s Grid
                
                li
                  a(data-toggle='tooltip' data-placement='left' data-original-title='Log' href='/settings/logging#tail')
                    i.fa.fa-book
                    |  Log
                
                li.divider
                
                li
                  a(data-toggle='tooltip' data-placement='left' data-original-title='Logout '+user.username href='/logout')
                    i.fa.fa-sign-out
                    |  Logout
        
        else
          li(class= title == 'Login' ? 'active' : '')
            a(data-toggle='tooltip' data-placement='bottom' data-original-title='Login' href='/login')
              i.fa.fa-sign-in
              |  Login
