if grid
  - var check_i = 0
  - var check_a = 0
  each i in grid
    - i.check ? check_a++ : check_i++

if info && info != 0
  each i in info
    .container.text-center
      .message(data-toggle='popover', data-message= i, data-info='true')

if success && success != 0
  each i in success
    .container.text-center
      .message(data-toggle='popover', data-message= i, data-success='true')

if error && error != 0
  each i in error
    .container.text-center
      .message(data-toggle='popover', data-message= i, data-error='true')

if( ( title == 'Index' && check_i == 0 ) || user && ( title == user.uid && check_a == 0 ) )
  .container.text-center
    .alert.alert-warning.text-center
      button.close(type="button", data-dismiss="alert", aria-label="Close")
        span(aria-hidden="true") &#215;
      i.fa.fa-info-circle
      |  There are currently no Tabs available.

noscript
  .container.text-center
    .alert.alert-info.text-center
      i.fa.fa-info-circle
      |  You need to enable Javascript in order to use all features.
