# test related
public/uploads/

# osx
.DS_Store
.apdisk
._.apdisk

# npm
node_modules/

# ide
*.swp
*~

# misc
README.html
*.tgz
*.log
logs/
docs/

# ghost
*.db

/content/data/*
/content/apps/**/*
/content/themes/**/*
/content/images/**/*
!/content/themes/casper/**
!/README.md
