#former
	#former-header
		h1
		a.former-close(href='#' title='Close'): i.fa.fa-times.fa-lg
	form.form()
		.field.f_100.clearfix.submit
			input(type='submit')
			#loading
			#submit: i.fa.fa-sign-in.fa-2x(title='Create')