if !sets[0].login || user
	.TTWForm-container#createUser
		#createUser-header
			h1 Create User
			a.modal_close(href='#' title='Close')
				i.fa.fa-times.fa-lg
		form.USEForm(action='/create' method='post' enctype='multipart/form-data')
			#field2-container.field.f_100
				label
					|Username:
				input#field2.focus(type='text' name='username' title='Username' required='required')
			#field2-container.field.f_100
				label
					|Password:
				input#field2(type='password' name='password' title='Password' required='required')
			.form-submit.field.f_100.clearfix.submit
				input(type='submit')
				#loadingUSE
				#submitUSE
					i.fa.fa-sign-in.fa-2x(title='Create')
					
if user
	.TTWForm-container#createtab
		#createtab-header
			h1 Tab adjustments
			a.modal_close(href='#' title='Close')
				i.fa.fa-times.fa-lg
		form.TTWForm(action='/upload' method='post' enctype='multipart/form-data')
			#field8-container.field.f_100
				label
					|Address (required):
				input#field8.focus(type='url' name='tabTextUrl' title='Address' required='required' placeholder='http://')
			#field2-container.field.f_100
				label
					|Name (optional):
				input#field2(type='text' name='tabTextName' title='Name' placeholder='Name')
				input#field2(type='hidden' name='upload')
			.form-submit.field.f_100.clearfix.submit
				input(type='submit')
				#loadingTTW
				#submitTTW
					i.fa.fa-upload.fa-2x(title='Upload')
else
	.TTWForm-container#login
		#login-header
			h1 Login
			a.modal_close(href='#' title='Close')
				i.fa.fa-times.fa-lg
		form.LOGForm(action='/login' method='post' enctype='multipart/form-data')
			#field2-container.field.f_100
				label
					|Username:
				input#field2.focus(type='text' name='username' title='Username' required='required')
			#field2-container.field.f_100
				label
					|Password:
				input#field2(type='password' name='password' title='Password' required='required')
			.form-submit.field.f_100.clearfix.submit
				input(type='submit')
				#loadingLOG
				#submitLOG
					i.fa.fa-sign-in.fa-2x(title='Login')