doctype html 
html(lang='en')
	head
		meta(charset='utf-8')
		
		title LIP-Support
		
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato')
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Abril+Fatface')
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Arvo')
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/form.css')
		link(rel='shortcut icon', type='favicon', href='/images/favicon.ico')
		block scripts
			script(type='text/javascript' src='//code.jquery.com/jquery-latest.min.js')
			script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
			script(type='text/javascript' src='/javascripts/jquery.leanModal.min.js')
			script(type='text/javascript' src='/javascripts/spinner.min.js')
			script(type='text/javascript' src='/javascripts/jquery.form.js')
			//script(type='text/javascript' src='/javascripts/local.js')
			script(type='text/javascript' src='/javascripts/form.js')
			script(type='text/javascript' src='/javascripts/grid.js')
		
	body
		#head
			a(name='initGrid' title='Init Grid' href='/')
				#logo
					span1
						| Welcome 
					span2
						| to our 
					span3
						| new
					br
					img(src='/images/logo.png')
					span5
						| &nbsp;Init Grid!

			ul.fa-ul
				li
					if user
						a(title='Log off' href='api/logout')
							i.fa.fa-sign-out
					else
						a#log-in(rel='leanModal' name='login' title='Log in' href='#login')
							i.fa.fa-sign-in
				if user
					li
						a#tab-add(rel='leanModal' name='createtab' title='New tab' href='#createtab')
							i.fa.fa-plus-circle
				li
					if user
						a(title='Mongoose models' href='api/tabs')
							i.fa.fa-info
					else
						a(title='Write email' href='mailto:your@email.com')
							i.fa.fa-envelope
				li
					a#reload(title='Reload grid' href='#reload')
						i.fa.fa-refresh
					a#note-add(rel='leanModal' name='note' href='#note')

			if user
				.TTWForm-container#createtab
					#createtab-header
						h1 Tab adjustments
						a.modal_close(href='#' title='Close')
							i.fa.fa-times.fa-lg
					form.TTWForm(action='/api/upload' method='post' enctype='multipart/form-data')
						#field8-container.field.f_100
							label
								|Address (required):
							input#field8(type='url' name='tabTextUrl' title='Address' required='required' placeholder='http://')
						#field2-container.field.f_100
							label
								|Name (optional):
							input#field2(type='text' name='tabTextName' title='Name' placeholder='Name')
							input#field2(type='hidden' name='upload')
						#form-submit.field.f_100.clearfix.submit
							input(type='submit')
							#loading
							#submit
								i.fa.fa-upload.fa-2x(title='Upload')

			if !user
				.TTWForm-container#login
					#login-header
						h1 Login
						a.modal_close(href='#' title='Close')
							i.fa.fa-times.fa-lg
					form.LOGForm(action='/api/login' method='post' enctype='multipart/form-data')
						#field2-container.field.f_100
							label
								|Username:
							input#field2(type='text' name='username' title='Username' required='required')
						#field2-container.field.f_100
							label
								|Password:
							input#field2(type='password' name='password' title='Password' required='required')
						#form-submit.field.f_100.clearfix.submit
							|Hint: username: bob password: secret
							input(type='submit')
							#loading
							#submit
								i.fa.fa-sign-in.fa-2x(title='Login')

		if message.length != 0
			p.login
				i.fa.fa-exclamation-circle.fa-fw
				= ' ' + message
		else
			.status#note
				p.message
				span
				a.modal_close(href='#' title='Close')
					i.fa.fa-times.fa-lg

	.container
		block content
