doctype html 
html(lang='en')
	head
		meta(charset='utf-8')
		
		title LIP-Support
		
		link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/form.css')
		link(rel='shortcut icon', type='favicon', href='/images/favicon.ico')
		
		script(type='text/javascript' src='//code.jquery.com/jquery-latest.min.js')
		script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
		script(type='text/javascript' src='/javascripts/jquery.leanModal.min.js')
		script(type='text/javascript' src='/javascripts/spinner.min.js')
		script(type='text/javascript' src='/javascripts/jquery.form.js')
		script(type='text/javascript' src='/javascripts/local.js')
		script(type='text/javascript' src='/javascripts/form.js')
		script(type='text/javascript' src='/javascripts/grid.js')
		
		
	body!= body
		block content
