doctype html 
html(lang='en')
	head
		meta(charset='utf-8')
		
		title Tabgrid - Save Websites
		
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato')
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Audiowide')
		link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/form.css')
		link(rel='shortcut icon', type='favicon', href='/images/favicon.ico')
		block scripts
			script(type='text/javascript' src='//code.jquery.com/jquery-latest.min.js')
			script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
			script(type='text/javascript' src='/javascripts/libs/jquery.leanModal.min.js')
			script(type='text/javascript' src='/javascripts/libs/modernizr.min.js')
			script(type='text/javascript' src='/javascripts/libs/spinner.min.js')
			script(type='text/javascript' src='/javascripts/libs/jquery.form.js')
			script(type='text/javascript' src='/javascripts/settings.js')
			script(type='text/javascript' src='/javascripts/loader.js')
			//script(type='text/javascript' src='/javascripts/sort.js')
			script(type='text/javascript' src='/javascripts/form.js')
			script(type='text/javascript' src='/javascripts/grid.js')
		
	body
		#head
			#logo: a(name='tabgrid' title='Tabgrid' href='/')| Tabgrid
			include includes/menu
			include includes/form
			include includes/note

		block content