extends header

block content
	#head
	
	#form
		form#uploadForm(enctype='multipart/form-data' action='/api/photos' method='post')
			input#userPhotoInput(type='file', name='userPhoto')
			input#userPhotoName(type='text', name='userPhotoName')
			input#submit(type='button', value='Upload')
		span#status
	
	.grid
		ul
			each item, index in grid.image
				li
					div(id= 'place' + index)
						#desc
							p text
						img#pic(src=item)
						.name
							span #{index + 1}

	#foot
		p
			a(href='/test') TEST

		p STEPHAN WEGNER 2014
		p
			a(href='http://intra/en') Intranet
			//&nbsp;|&nbsp;
			a(href='http://www.mpib-berlin.mpg.de') Max Planck Institut for Human Development
			
			a(href='mailto:lipsupport@mpib-berlin.mpg.de') LIP Support