extends includes/header

block content

  .container
    if grid && grid.length != 0
      - for (var i = list.length; i >= 0 ; --i) {
        if list[i] && list[i].list.length > 0
          .panel.panel-grid
            .panel-heading
              h2.panel-title(id= list[i].name.toLowerCase())= list[i].name
                a.anchorjs-link(href='#'+ list[i].name.toLowerCase())
                  span.anchorjs-icon
                    i.fa.fa-link
                span|  (
                  = list[i] ? list[i].list.length : grid.length-assigned-usertabs
                  | )
                if user
                  .pull-right
                    form(role='form' action='/settings/category/edit' method='post' enctype='multipart/form-data')
                      input(type='hidden' name='id' value= list[i]._id)
                      button.btn.btn-xs.btn-default(type='submit' data-toggle='tooltip' data-placement='top' data-original-title='Update Category' style='margin-top: -2px;')
                        i.fa.fa-pencil
            ul.list-unstyled.panel-body.container-fluid.grid(name= list[i] ? list[i].name : 'unassigned' data-length= list[i] ? list[i].list.length : grid.length-assigned-usertabs)
              each item, j in grid
                if list[i] && list[i].name == item.category
                  +tabs(item._id, item.renderUrl, item.url, item.title, item.icon, item.image, item.name, item.category, item.check, item.whoCreated, j)
                else if !list[i] && !item.category
                  +tabs(item._id, item.renderUrl, item.url, item.title, item.icon, item.image, item.name, item.category, item.check, item.whoCreated, j)
        if !list[i] && grid.length-assigned-usertabs > 0
          .panel.panel-grid
            .panel-heading
              h2#unassigned.panel-title| unassigned
                a.anchorjs-link(href='#unassigned')
                  span.anchorjs-icon
                    i.fa.fa-link
                span|  (
                  = grid.length-assigned-usertabs
                  | )
            ul.list-unstyled.panel-body.container-fluid.grid(name= list[i] ? list[i].name : 'unassigned' data-length= list[i] ? list[i].list.length : grid.length-assigned-usertabs)
              each item, j in grid
                if list[i] && list[i].name == item.category
                  +tabs(item._id, item.renderUrl, item.url, item.title, item.icon, item.image, item.name, item.category, item.check, item.whoCreated, j)
                else if !list[i] && !item.category
                  +tabs(item._id, item.renderUrl, item.url, item.title, item.icon, item.image, item.name, item.category, item.check, item.whoCreated, j)
      - }

  mixin tabs(id, renderUrl, url, title, icon, image, name, category, check, whoCreated, j)
    if !check
      li.tabs(id= id data-item= j)
        if user && user.username == whoCreated
          .mng-fa
            form.form(role='form' action='/settings/tab/edit' method='post' enctype='multipart/form-data')
              input(type='hidden' name='id' value= id)
              button.btn-link.btn-edit(data-toggle='tooltip' data-placement='top' data-original-title='Update' type='submit')
                i.fa.fa-pencil
            form(role='form' action='/settings/tab/delete' method='post' enctype='multipart/form-data' onsubmit='return confirm("Are you sure you want to submit?")')
              input(type='hidden' name='id' value= id)
              button.btn-link.btn-delete(data-toggle='tooltip' data-placement='top' data-original-title='Delete' type='submit')
                i.fa.fa-times
        a(href= url ? url : renderUrl)
          img.img-thumbnail(data-toggle='tooltip' data-placement='top' data-original-title= title ? title.substr(0, 90) : name src='uploads/'+ image)
          .mng-vis
            img.img-rounded.center-block(src= icon width='13px')
            p.text-center.name.break= name
