extends header

block content
	#head
	
	.TTWForm-container
		form.TTWForm(action='/api/upload' method='post' enctype='multipart/form-data')
			#field2-container.field.f_100
				input#field2(type='text' name='tabName' required='required' placeholder='Name')
				
			#field8-container.field.f_100
				input#field8(type='url' name='tabUrl' placeholder='http://')
				
			#field7-container.field.f_100
				textarea#field7(rows='5', cols='20' name='tabDesc' placeholder='Description')
				
			#field10-container.field.f_100
				input#field10(type='file' name='tabFile')
				
			#form-submit.field.f_100.clearfix.submit
				input(type='submit' value='Upload')
			
			if error
				#field20-container.status.f_50
					= error
			else
				#field20-container.status.f_50
	
	#grid
		ul
			if !error
				each item, index in grid.tabs
					li.tabs
						a(href=item.url)
							img#pic(src=item.img)
							.cnt
								if item.name
									h5!= item.name
								if item.desc
									p!= item.desc
						.opt-open
							img.btn-open(src='images/arrow-8-888.ico')
						.opt
							img.btn-del(src='images/delete-16-888.ico')
							img.btn-edit(src='images/edit-16-888.ico')

	#foot
		p STEPHAN WEGNER 2014
		p
			a(href='http://intra/en')
				|Intranet
			|&nbsp;| 
			a(href='http://www.mpib-berlin.mpg.de')
				|Max Planck Institut for Human Development
			|&nbsp;|&nbsp;
			a(href='mailto:lipsupport@mpib-berlin.mpg.de')
				|LIP Support
