extends header

block content
	#head
	
	#form
		form#uploadForm(enctype='multipart/form-data' action='/api/photos' method='post')
			input#tabImage(type='file' name='tabImage')
			br
			input#tabName(type='text' name='tabName' placeholder='Name')
			br
			input#tabUrl(type='text' name='tabUrl' placeholder='Address')
			br
			textarea#tabDesc(name='tabDesc' rows='5' cols='80' placeholder='Description')
			br
			input#submit(type='button', value='Upload')
		span#status
	
	#grid
		ul
			each item, index in grid.tabs
				li.tabs
					a(href=item.url)
						img#pic(src=item.img)
						div
							if item.name
								h5!= item.name
							if item.desc
								p!= item.desc

	#foot
		p STEPHAN WEGNER 2014
		p
			a(href='http://intra/en') Intranet
			//&nbsp;|&nbsp;
			
			a(href='http://www.mpib-berlin.mpg.de') Max Planck Institut for Human Development
			
			a(href='mailto:lipsupport@mpib-berlin.mpg.de') LIP Support
