ul.fa-ul
	li
		if user
			a(title='Log off' href='/logout')
				i.fa.fa-sign-out
		else
			a#log-in(rel='leanModal' name='login' title='Log in' href='#login')
				i.fa.fa-sign-in
	if user
		li
			a#tab-add(rel='leanModal' name='createtab' title='New tab' href='#createtab')
				i.fa.fa-plus-circle
	li
		a(title='Settings' href='/settings')
			i.fa.fa-cog
	li
		a(title='Write email' href='mailto:your@email.com')
			i.fa.fa-envelope
	li
		a#reload(title='Reload grid' href='#reload')
			i.fa.fa-refresh
	li
		a#note-add(rel='leanModal' name='note' href='#note')