extends ../includes/header

block content

  .container
    include ../includes/message
    h1#help.anchor.page-header= title
      a.anchorjs-link(href='#help')
        span.anchorjs-icon
          i.fa.fa-link

    p.text-primary
      i.fa.fa-info-circle
      |  Here comes the FAQ! Soon ...
