/** Basic Styling **/
.TTWForm, .LOGForm {
 	width: 500px;
 	margin: 0 auto;
}




.TTWForm-container {
    position: fixed;
    z-index: 11000;
    left: 50%;
    opacity: 1;
    height: 315px;
    width: 500px;
    background: #FFF9E5;
    display: none;
    font-size: 12px;
    padding: 0px 0px 40px 0;
	border: 1px solid #FFF9E5;
	border-radius: 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	box-shadow: 0 0 0 1px #17313A;
	-moz-box-shadow: 0 0 0 1px #17313A;
	-webkit-box-shadow: 0 0 0 1px #17313A;
}

#lean_overlay {
    position: fixed;
    z-index:10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#createtab-header, #login-header {
	padding: 7px 18px 5px 25px;
	background-color: #12282F;
	color: #FFF9E5;
	border-bottom: 1px solid #FFF9E5;
	border-radius: 3px;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-ms-border-radius: 4px 4px 0px 0px;
}

#form-submit {
	color: #12282F;
}




.modal_close {
	color: #FFF9E5;
	z-index: 2;
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	top: 12px;
	right: 12px;
}




/** Field Styles **/
.TTWForm .field, .LOGForm .field, #form-title.field {
    padding-bottom: 25px;
    padding-top: 0;
    position: relative;
    clear: both;
}

.TTWForm .field:first-child, .LOGForm .field:first-child {
    padding-top:25px;
}

.TTWForm .field:last-child, .LOGForm .field:last-child {
    padding-bottom:0;
}




/** Field Widths */
.f_25 {
    width: 21%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%; /* jquery ui resize grid hack - not sure why */
}

.f_50 {
    width: 46%;
    display: inline;
    margin-left: 2%;
    margin-right: 2%; /* jquery ui resize grid hack - not sure why */
}

.f_75 {
    width: 71%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%; /* jquery ui resize grid hack - not sure why */
}

.f_100 {
    width: 89%;
    display: inline;
    float: left;
    margin-left: 5%;
    margin-right: 5%; /* jquery ui resize grid hack - not sure why */
}


.TTWForm input, .LOGForm input, .TTWForm textarea, .LOGForm textarea, .TTWForm select, .LOGForm select, div.selector, div.uploader  {
    width:100%;
    height: 31px;
    font-size: 20px;
    padding: 6px 0 5px 4px;
    color: #798e94;
    border: 1px solid #17313A;
    outline: none;
    display: inline-block;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 0 1px #f2f7f9;
    -moz-box-shadow: 0 0 0 1px #f2f7f9;
    -webkit-box-shadow: 0 0 0 1px #f2f7f9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}

.TTWForm label, .LOGForm label {
    color: #17313A;
    text-align: left;
    font-size: 18px;
    margin-bottom:5px;
    display:inline-block;
}

.TTWForm label:first-child, .LOGForm label:first-child {
    padding-top:0;
}

.TTWForm label:last-child, .LOGForm label:last-child {
    padding-bottom:0;
}

.TTWForm .submit #submit, .LOGForm .submit #submit {
    display: block;
    margin: 0px -6px 0px 0;
    text-align: center;
    float: right;
    width: 110px;
    padding:8px 0px 0px 0px;
    height: 30px;
    cursor: pointer;
    min-width: 36px;
	color: #FFF9E5;
	background-color: #348371;
	border: 1px solid #17313A;
    box-shadow: 0 0 0 1px #FFF9E5;
    -moz-box-shadow: 0 0 0 1px #FFF9E5;
    -webkit-box-shadow: 0 0 0 1px #FFF9E5;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
}

.TTWForm .submit #submit:hover, .LOGForm .submit #submit:hover {
	background-color: #265F52;
	border: 1px solid #17313A;
	box-shadow: 0 0 0 1px #FFF9E5;
	-moz-box-shadow: 0 0 0 1px #FFF9E5;
	-webkit-box-shadow: 0 0 0 1px #FFF9E5;
}

.TTWForm .submit #submit:active, .LOGForm .submit #submit:active {
	outline: 0;
	box-shadow: inset 1px 3px 5px 0 #101010;
	-moz-box-shadow: inset 1px 3px 5px 0 #101010;
	-webkit-box-shadow: inset 1px 3px 5px 0 #101010;
}

.TTWForm .submit #loading, .LOGForm .submit #loading {
    display: block;
    margin: 0px -6px 0px 0;
    text-align: center;
    float: right;
    width: 110px;
    padding:8px 0px 0px 0px;
    height: 30px;
    cursor: not-allowed;
    min-width: 36px;
	color: #FFF9E5;
	background-color: #265F52;
	border: 1px solid #17313A;
    box-shadow: 0 0 0 1px #FFF9E5;
    -moz-box-shadow: 0 0 0 1px #FFF9E5;
    -webkit-box-shadow: 0 0 0 1px #FFF9E5;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.TTWForm .submit #loading, .LOGForm .submit #loading {
	cursor: not-allowed;
}

.TTWForm .submit input, .LOGForm .submit input {
	display: none;
}




/** IE Hacks **/
.TTWForm input, .LOGForm input {
    *height: 28px;
}




/** Clearfix */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}




/**
 * The following zoom:1 rule is specifically for IE6 + IE7.
 * Move to separate stylesheet if invalid CSS is a problem.
 */
* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}
