body {
  background: #FFF9E5 url(../images/bg.jpg) repeat 100% 0 scroll;
  color: #FFF9E5;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.log-wrapper {
  border: 1px #17313A solid;
  padding: 10px;
  background-color: #FFF9E5;
  height: 700px;
  overflow: scroll;
}
.line-wrapper {
  color: #17313A;
  text-align: center;
  margin: 0;
}
.line-wrapper p {
  margin: 0;
  padding: 0 10px 0 10px;
}
.log-line {
  padding-right: 10px;
}
.log-timestamp {
  width: 150px;
}
.log-level {
  font-weight: bold;
}
.level-error {
  color: #FF0505;
}
.level-warn {
  color: #FF8F1F;
}
.level-info {
  color: #00A300;
}
.level-verbose {
  color: #4BC3C3;
}
.level-debug {
  color: #376EA4;
}
.log-message {
  text-align: left;
  padding-left: 10px;
}




/**
 * HEAD
 */
#head {
  background-color: #12282F;
  border-bottom: 1px solid #797979;
}

#logo a {
  width: auto;
  height: 74px;
  font-family: 'Audiowide', cursive;
  font-size: 58px;
  background-color: transparent;
  text-decoration: none;
  color: #FFF9E5;
  text-shadow: 0 -1px 2px #FFE799, 0 1px 2px #FFFFFF;
}

#logo {
  margin: 0 auto;
  text-align: center;
}




/**
 * MENU
 */
.fa-ul {
  margin: 0 auto;
  text-align: center;
  width: auto;
}

.fa-ul li {
  padding: 12px 0px 12px 0px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border: 1px solid #102228;
}

.fa-ul a {
  color: #FFF9E5;
  padding: 12px;
}

.fa-ul li:hover {
  background: #17313A;
  border-color: #091316;
  box-shadow: inset 0 1px 0 0 #212121;
  -moz-box-shadow: inset 0 1px 0 0 #212121;
  -webkit-box-shadow: inset 0 1px 0 0 #212121;
}

.fa-ul li:active {
  outline: 0;
  box-shadow: inset 1px 3px 5px 0 #101010;
  -moz-box-shadow: inset 1px 3px 5px 0 #101010;
  -webkit-box-shadow: inset 1px 3px 5px 0 #101010;
}




/**
 * MESSAGES
 */
.fa-exclamation-circle, .fa-info-circle, .fa-check-circle {
  padding-left: 10px;
  padding-right: 10px;
}

.message { /*.fa-info-circle*/
  color: #F6F6F6;
}

.success { /*.fa-check-circle*/
  color: #47D147;
}

.info { /*.fa-info-circle*/
  color: #FFFF00;
}

.error { /*.fa-exclamation-circle*/
  color: #FF6600;
}

.fallover { /*.fa-exclamation-circle*/
  color: #FF6600;
}

p.no-data {
  color: #FFFF00;
}

.no-script {
  color: #FFFF00;
}

p.fallover, p.error, p.info, p.success, p.message, p.no-data, p.no-script {
  text-align: center;
  font-size: 16px;
  width: 100%;
}




/**
 * GRID
 */
.grid {
  margin: 0 auto;
  padding-left: 0;
  text-align: center;
  width: 900px;
}

.grid li {
  width: 182px;
  vertical-align: top;
  padding: 25px 15px 0px 15px;
  zoom: 1;
  position: relative;
  *display: inline;
  display: -moz-inline-stack;
  display: inline-block;
}

.categoryHeadline {
  margin: 10px 0 -10px 0;
  text-align: center;
  width: auto;
  font-weight: bold;
  font-size: 40px;
  color: #304651;
  text-shadow: 0 -1px 1px #131D20, 0 1px 1px #57818E;
}

.length {
  font-size: 21px;
  padding: 0 0 0 5px;
}

li .icon, li .icon-container {
  position: relative;
  top: -3px;
  height: 14px;
}

li .pic, li .img-container {
  border: 1px #FFF9E5 solid;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  box-shadow: 0 0 0 1px #17313A;
  -moz-box-shadow: 0 0 0 1px #17313A;
  -webkit-box-shadow: 0 0 0 1px #17313A;
  width: 182px;
  height: 101px;
  min-height: 101px;
}

.name {
  overflow: hidden;
  text-align: center;
  background: transparent;
  color: #FFF9E5;
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: -5px;
  font-size: 15px;
  font-weight: lighter;
}

li a {
  text-decoration: none;
}

.btn-edit, .btn-del {
  display: none;
}

.btn-edit, .btn-edit-ns {
  position: absolute;
  color: #17313A;
  z-index: 1;
  top: 29px;
  left: 21px;
}

.btn-del, .btn-del-ns {
  position: absolute;
  color: #17313A;
  z-index: 1;
  width: 13px;
  height: 15px;
  right: 16px;
  background-color: transparent;
  border: 0px solid transparent;
  box-shadow: 0 0 0 0px transparent;
  -moz-box-shadow: 0 0 0 0px transparent;
  -webkit-box-shadow: 0 0 0 0px transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
}

.btn-del {
  top: 27px;
}

.btn-del-ns {
  top: -8px;
}

.btn-del:active, .btn-del-ns:active {
  outline: 0px;
  box-shadow: inset 0px 0px 0px 0 transparent;
  -moz-box-shadow: inset 0px 0px 0px 0 transparent;
  -webkit-box-shadow: inset 0px 0px 0px 0 transparent;
}

[class^=btn]:hover {
  background-color: transparent;
  border: 0px solid transparent;
  box-shadow: 0 0 0 0px transparent;
  -moz-box-shadow: 0 0 0 0px transparent;
  -webkit-box-shadow: 0 0 0 0px transparent;
  color: #646E63;
  cursor: default;
}




/**
 * FORM
 */
.formHeadline {
  padding-bottom: 7px;
  border-bottom: 1px #17313A solid;
  text-align: center;
  width: 103%;
  font-weight: bold;
  font-size: 30px;
  color: #304651;
  text-shadow: 0 -1px 1px #131D20, 0 1px 1px #57818E;
}

.form {
   width: 500px;
   margin: 0 auto;
}

.form h3 {
  margin-bottom: 0px;
}

#detailsLink {
  float: right;
  position: relative;
  top: 31px;
  left: 10px;
  color: #FFF9E5;
  font-size: 13px;
  text-decoration: none;
}

#detailsLink:hover {
  text-decoration: underline;
}

.form img {
  padding: 25px 0 25px 7px;
}

#detailsImg {
  padding: 25px;
  display: inline;
}

.details {
    width: 100%;
    height: 31px;
    font-size: 20px;
    padding: 6px 0 5px 5px;
  background: transparent;
    color: #B3BFC2;
    border: 0px solid #17313A;
    outline: none;
    z-index: 2;
    box-shadow: 0 0 0 0px #f2f7f9;
    -moz-box-shadow: 0 0 0 0px #f2f7f9;
    -webkit-box-shadow: 0 0 0 0px #f2f7f9;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}

.field, .category {
    width: 100%;
    height: 31px;
    font-size: 20px;
    padding: 6px 5px 5px 5px;
    color: #798E94;
    border: 1px solid #17313A;
    outline: none;
    z-index: 2;
    box-shadow: 0 0 0 1px #f2f7f9;
    -moz-box-shadow: 0 0 0 1px #f2f7f9;
    -webkit-box-shadow: 0 0 0 1px #f2f7f9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}

.category {
  width: 102.5%;
  height: 100%;
}

form input[type=checkbox] {
  width: 16px;
  height: 16px;
  position: relative;
  right: -12px;
  top: 3px;
}

.salt {
    height: 46px;
  resize: none;
}

.hash {
    height: 530px;
  resize: none;
}

.list {
    height: 79px;
  resize: none;
}

.check {
  float: right;
  padding-top: 5px;
}

form label {
    text-align: left;
    font-size: 17px;
    padding: 25px 0 10px 0;
    display: inline-block;
}

form label:first-child {
    padding-top: 0px;
}

form label:last-child {
    padding-bottom: 0px;
}

form button, .btn-dlt-f {
  display: block;
  margin: 35px 0 0 0;
  text-align: center;
  width: 16%;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #17313A;
  box-shadow: 0 0 0 1px #FFF9E5;
  -moz-box-shadow: 0 0 0 1px #FFF9E5;
  -webkit-box-shadow: 0 0 0 1px #FFF9E5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
}

form button {
  padding: 0;
  height: 30px;
}

.btn-dlt-f {
  display: none;
  padding: 4px 0 0 0;
  height: 23px;

}

form button:hover {
  border: 1px solid #17313A;
  box-shadow: 0 0 0 1px #FFF9E5;
  -moz-box-shadow: 0 0 0 1px #FFF9E5;
  -webkit-box-shadow: 0 0 0 1px #FFF9E5;
}

form button:active {
  outline: 1px;
  box-shadow: inset 1px 1px 2px 0 #101010;
  -moz-box-shadow: inset 1px 1px 2px 0 #101010;
  -webkit-box-shadow: inset 1px 1px 2px 0 #101010;
}

.sbt-f {
  color: #FFF9E5;
  background-color: #314953;
}

.dlt-f, .btn-dlt-f {
  color: #FFF9E5;
  background-color: #732626;
}

.dlt-f .fa, .btn-dlt-f .fa, .sbt-f .fa  {
  padding: 2px 5px 0 2px;
}

.sbt-f:hover {
  background-color: #243441;
}

.dlt-f:hover, .btn-dlt-f:hover {
  cursor: pointer;
  color: #FFF9E5;
  background-color: #4D1919;
  border: 1px solid #17313A;
  box-shadow: 0 0 0 1px #FFF9E5;
  -moz-box-shadow: 0 0 0 1px #FFF9E5;
  -webkit-box-shadow: 0 0 0 1px #FFF9E5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
}

.cancel {
  position: relative;
  top: -23px;
  left: 100px;
  color: #FFF9E5;
  font-size: 13px;
  text-decoration: none;
}

.cancel:hover {
  font-weight: bold;
}

.patient {
  margin-top: -5px;
  padding: 0;
  font-size: 12px;
  color: #FFF9E5;
}




/**
 * SETTINGS
 */
#adjustments {
  margin: 0 auto;
  padding: 0 0 25px 0;
  width: 800px;
}

#adjustments h3 {
  padding-bottom: 7px;
  border-bottom: 1px #17313A solid;
  text-align: center;
  width: auto;
  font-weight: bold;
  font-size: 30px;
  color: #304651;
  text-shadow: 0 -1px 1px #131D20, 0 1px 1px #57818E;
}

.adj {
  margin: 0 auto;
  width: auto;
}
.adj input[type=range] {
  margin-left: 4px;
  width: 99%;
  position: relative;
  top:6px;
}
.adj input[type=checkbox] {
  position: relative;
  top: 1px;
}
.elemrow span {
  float: left;
  width: 75px;
}

#adjReset {
  margin-left: 9px;
  cursor: pointer;
}

#rangeMsg {
  font-size: 12px;
}
#rangeFac {
  padding-left: 5px;
}
#rangeLeft {
  padding: 6px 0 0 0;
  width: 50px;
  float: left;
  text-align: left;
}
#rangeRight {
  padding: 6px 0 0 0;
  width: 50px;
  float: right;
  text-align: right;
}
#user {
  box-shadow: 0 0 0 1px #B36B34;
  -moz-box-shadow: 0 0 0 1px #B36B34;
  -webkit-box-shadow: 0 0 0 1px #B36B34;
  background-color: #B36B34;
}
#check {
  text-decoration: underline;
}

.item {
  margin: 3px;
  padding: 6px 11px 6px 11px;
  border: 1px #17313A solid;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  box-shadow: 0 0 0 1px #17313A;
  -moz-box-shadow: 0 0 0 1px #17313A;
  -webkit-box-shadow: 0 0 0 1px #17313A;
  background-color: #17313A;
}
.item div {
  padding-bottom: 3px;
}
.item span {
  padding: 3px;
}

.itemfloat {
  float: left;
}
a .item {
  text-decoration: none;
  color: #FFF9E5;

}
.item:hover {
  border: 1px #FFF9E5 solid;
  cursor: pointer;
}

#range {
  display: none;
}




/** IE Hacks **/
form input {
    *height: 28px;
}




/** Clearfix */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}




/**
 * The following zoom:1 rule is specifically for IE6 + IE7.
 * Move to separate stylesheet if invalid CSS is a problem.
 */
* html .clearfix,
*:first-child+html .clearfix {
  zoom: 1;
}




/**
 * FOOTER
 */
#footer p {
  margin: 20px auto;
  height: auto;
  text-align: center;
  font-size: 8px;
}

#footer a {
  text-decoration: none;
  color: #FFF9E5;
}

#footer .fa {
  padding: 3px;
}
