@font-face {
  font-family: 'libsansbold';
  src: url(fonts/LiberationSans-Bold.ttf);
}

@font-face {
  font-family: 'libsansitalic';
  src: url(fonts/LiberationSans-Italic.ttf);
}

@font-face {
  font-family: 'libsansregular';
  src: url(fonts/LiberationSans-Regular.ttf);
}

body {
  padding-top: 70px;
  font: 15px/20px 'libsansregular', Arial, Helvetica, sans-serif;
}

/**
 * HEAD
 */
.navbar-inverse {
  background-color: #12282f;
  opacity: 0.9;
}

.navbar-brand {
  font-family: 'Audiowide', 'libsansbold', Arial, Helvetica, sans-serif;
}

[id$=search] {
  padding-right: 18px;
}

.sclear {
  position: absolute;
  right: 46px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #bbb;
  z-index: 2;
}

.navbar-inverse .signout {
  color: #000;
  margin: 0;
  padding: 3px 20px;
  width: 100%;
  text-align: left;
}

.navbar-inverse .signout:hover {
  text-decoration: none;
  background-color: #F5F5F5;
  color: #000;
}

/**
 * MESSAGE
 */
.message {
  position: relative;
  top: -45px;
  left: -8px;
}

/**
 * GRID
 */
.grid {
  text-align: center;
}

.tabs {
  width: 220px;
  vertical-align: top;
  padding: 20px 15px 0px 15px;
  zoom: 1;
  position: relative;
  *display: inline;
  display: -moz-inline-stack;
  display: inline-block;
}

.tabs a {
  text-decoration: none !important;
}

.name {
  color: #1A242F;
  font-size: 16px;
}

.name:hover {
  text-decoration: underline;
}

.mng-vis {
  position: relative;
  bottom: 7px;
}

.mng-fa {
  opacity: 0;
  top: 0;
  position: relative;
}

.btn-edit, .btn-delete {
  position: absolute;
}

.btn-edit {
  left: 0;
}

.btn-delete {
  right: 0;
}

.btn-edit, .btn-delete {
  color: #17313A;
}

.btn-edit:focus, .btn-edit:hover, .btn-delete:focus, .btn-delete:hover {
  color: #838D81;
}

/**
 * SETTINGS
 */
.panel-title {
  font-size: 18px;
}

.panel-settings{
  border-color: #C0C0C0;
}
.panel-settings>.panel-heading{
  color: #1A242F;
  background-color: #F5F5FA;
  opacity: 1;
  border-color: #B2B2B2;
}

.panel-grid{
  border-color: #C0C0C0;
}
.panel-grid>.panel-heading{
  color: #1A242F;
  background-color: #F5F5FA;
  opacity: 1;
  border-color: #B2B2B2;
}

/**
 * FOOT
 */
.ft a {
  color: inherit;
  font-size: 10px;
}

.ft a:hover {
  text-decoration: none;
}

/**
 * LOG
 */
.level-error { /* red */
  color: #FF0505;
}

.level-warn { /* orange */
  color: #FF8F1F;
}

.level-info { /* green */
  color: #00A300;
}

.level-verbose { /* cyan */
  color: #4BC3C3;
}

.level-debug { /* blue */
  color: #376EA4;
}

/**
 * HELP
 */
.email {
  cursor: pointer;
}

.break {
  word-wrap: break-word;
}

.breakall {
  white-space: pre-wrap;
  word-break: break-all;
}

.scrollable {
  width: auto;
  overflow: scroll;
}

/**
 * ANCHOR
 */
.anchorjs-link {
  float: left;
  width: 1em;
  height: 1em;
  margin-left: -1.0em;
  opacity: 0;
  color: inherit;
  text-align: center;
}

.anchorjs-icon {
  font-size: 60%;
  vertical-align: 0.1em;
}
