@font-face {
  font-family: 'libsansbold';
  src: url(fonts/LiberationSans-Bold.ttf);
}

@font-face {
  font-family: 'libsansitalic';
  src: url(fonts/LiberationSans-Italic.ttf);
}

@font-face {
  font-family: 'libsansregular';
  src: url(fonts/LiberationSans-Regular.ttf);
}

body {
  font: 100%/1.1 'libsansregular', Arial, Helvetica, sans-serif;
  color: #000000;
  /*background: #FFF9E5 url(../images/bg.jpg) repeat 100% 0 scroll;*/
}

/**
* HEAD
*/
.navbar-brand {
  font: 100%/1.5 'Audiowide', 'libsansbold', Arial, Helvetica, sans-serif;
}

/**
* FOOT
*/
.ft a {
  color: #000000;
  font-size: 10px;
}

/**
 * GRID
 */
.content {
  padding-top: 75px;
}

.grid {
  text-align: center;
}

.tabs {
  width: 220px;
  vertical-align: top;
  padding: 20px 15px 0px 15px;
  zoom: 1;
  position: relative;
  *display: inline;
  display: -moz-inline-stack;
  display: inline-block;
}

.name {
  color: #000000;
  font-size: 16px;
}

.mng-vis {
  position: relative;
  bottom: 7px;
}

.mng-fa {
  display: none;
  position: relative;
  top: 2px;
}

.btn-edit {
  position: absolute;
  left: 6px;
  color: #17313A;
}

.btn-delete {
  position: absolute;
  right: 6px;
  color: #17313A;
}

.btn-edit:hover {
  color: #646E63;
  cursor: default;
}

.btn-delete:hover {
  color: #646E63;
  cursor: default;
}

/**
 * LOG
 */
.level-error { /* red */
  color: #FF0505;
}

.level-warn { /* orange */
  color: #FF8F1F;
}

.level-info { /* green */
  color: #00A300;
}

.level-verbose { /* cyan */
  color: #4BC3C3;
}

.level-debug { /* blue */
  color: #376EA4;
}

/**
 * HELP
 */
.breakall {
  white-space: pre-wrap;
  word-break: break-all;
}

.scrollable {
  width: auto;
  overflow: scroll;
}
