extends ../includes/header

block content

	include ../includes/message

	form.form(action='/settings/account/create' method='post' enctype='multipart/form-data' onsubmit='document.getElementById("submit").disabled=true;')
		h3= title

		label| Username (required):
		input.field(type='text' name='username' title='Username (required)' required='required' placeholder='Username (required)' autofocus)
		label| Password (required):
		input.field(type='password' name='password' title='Password (required)' required='required' placeholder='Password (required)')
		label| Confirm Password (required):
		input.field(type='password' name='confirm' title='Confirm Password (required)' required='required' placeholder='Confirm Password (required)')

		button#submit(title='Submit')| Create
		a.cancel(href='/settings' title='Cancel')| Cancel

	include ../includes/foot
