extends ../includes/header

block content

  .container
    include ../includes/message

    .row
      .col-xs-2.col-sm-2.col-md-3.col-lg-3
      .col-xs-8.col-sm-8.col-md-6.col-lg-6
        h1#account_update.anchor.page-header= title
          a.anchorjs-link(href='#account_update')
            span.anchorjs-icon
              i.fa.fa-link

        .container-fluid
          form.form(action='/settings/account/update' method='post' enctype='multipart/form-data' onsubmit='document.getElementById("submit").disabled=true;')
            .form-group
              label(for='password')| New Password:
              input#password.form-control(type='password' name='newPassword' title='New Password' required='required' placeholder='New Password' autofocus)
            .form-group
              label(for='confirm')| Confirm New Password:
              input#confirm.form-control(type='password' name='confirm' title='Confirm New Password' required='required' placeholder='Confirm New Password')

            button#submit.btn.btn-primary.pull-right(type='submit' title='Submit')
              i.fa.fa-refresh
              |  Update

      .col-xs-2.col-sm-2.col-md-3.col-lg-3
