extends ../includes/header

block content

  .container
    .row
      .col-xs-1.col-sm-3.col-md-4.col-lg-4
      .col-xs-10.col-sm-6.col-md-4.col-lg-4
        include ../includes/message
      .col-xs-1.col-sm-3.col-md-4.col-lg-4
    .row
      .col-xs-2.col-sm-2.col-md-3.col-lg-3
      .col-xs-8.col-sm-8.col-md-6.col-lg-6
        h1.page-header= title

        .container-fluid
          form.form(action='/settings/account/update' method='post' enctype='multipart/form-data' onsubmit='document.getElementById("submit").disabled=true;')
            .form-group
              .row
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  label(for='password')| New Password:
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  .text-right
                    a(title='Account details and delete' href='/settings/account/details')
                      | Details
              input#password.form-control(type='password' name='newPassword' title='New Password' required='required' placeholder='New Password' autofocus)
            .form-group
              label(for='confirm')| Confirm New Password:
              input#confirm.form-control(type='password' name='confirm' title='Confirm New Password' required='required' placeholder='Confirm New Password')

            button#submit.btn.btn-primary.pull-right(type='submit' title='Submit')
              i.fa.fa-refresh
              |  Update

      .col-xs-2.col-sm-2.col-md-3.col-lg-3
