extends ../includes/header

block content

	include ../includes/message

	form.form(action='/createtab' method='post' enctype='multipart/form-data' onsubmit='document.getElementById("submit").disabled=true;')
		h3= title

		label| Address (required):
		input.field(type='url' name='address' title='Address (required)' required='required' placeholder='Address (required)' autofocus)
		label| Name (optional):
		input.field(type='text' name='name' title='Name (optional)' placeholder='Name (optional)')
		a#detailsLink(title='Create a category' href='/settings/category/create')
			| Create Category
		label| Category (optional):
		select.category(name='category')
			if(list.length > 0)
				option(selected disabled)| Choose a category
				each category in list
					option(value= category.name)= category.name
			else
				option(selected disabled)| No category created yet
		.check
			span| Admin only?
			input(type='checkbox' name='check' title='Access only for admins')

		button#submit(title='Submit')| Create
		a.cancel(href='/' title='Cancel')| Cancel

	include ../includes/foot
