extends ../includes/header

block content

	include ../includes/message

	form.form(action='/settings/tab/delete' method='post' enctype='multipart/form-data' onsubmit='return confirm("Are you sure you want to submit?")')
		h3.formHeadline= title

		a(href='../../../uploads/'+query.id+'.png')
			img(src='../../../uploads/'+query.id+'.png' width='250px')

		#detailsForm
			label| Name:
			input.details(type='text' name='name' title=  query.name value= query.name readonly)
			label| Address:
			input.details(type='url' name='address' title=  query.url value= query.url readonly)
			label| Title:
			input.details(type='text' name='title' title=  query.title value= query.title readonly)
			label| Icon:
			input.details(type='text' name='icon' title=  query.icon value= query.icon readonly)
			label| Category:
			input.details(type='text' name='category' title=  query.category value= query.category readonly)
			label| Admin View:
			input.details(type='text' name='check' title=  query.check value= query.check readonly)

			label| Who Created:
			input.details(type='text' name='whoCreated' title=  query.whoCreated value= query.whoCreated readonly)
			label| Who Updated:
			input.details(type='text' name='whoUpdated' title=  query.whoUpdated value= query.whoUpdated readonly)
			label| When Created:
			input.details(type='text' name='whenCreated' title=  query.whenCreated value= query.whenCreated readonly)
			label| When Updated:
			input.details(type='text' name='whenUpdated' title=  query.whenUpdated value= query.whenUpdated readonly)

			label| Identifier:
			input.details(type='text' name='id' title=  query.id value= query.id readonly)
			label| Revision:
			input.details(type='text' name='rev' title=  query.rev value= query.rev readonly)

		button(title='Submit')| Delete

	include ../includes/foot
