extends ../includes/header

block content

  .container
    .row
      .col-xs-2.col-sm-2.col-md-3.col-lg-3
      .col-xs-8.col-sm-8.col-md-6.col-lg-6
        h1#tab_update.anchor.page-header= title
          a.anchorjs-link(href='#tab_update')
            span.anchorjs-icon
              i.fa.fa-link

        .container-fluid
          form.form(action='/settings/tab/update', method='post', enctype='multipart/form-data', onsubmit='document.getElementById("submit").disabled=true;')
            input(type='hidden', name='id', value= tab._id)
            .form-group
              label(for='renderAddress')| *Render Address:
              .input-group
                input#renderAddress.form-control(type='url', name='renderUrl', data-toggle='tooltip', data-placement='top', title='Render Address', value= tab.renderUrl, required='required', placeholder='Render Address', autofocus)
                span.input-group-addon(style='background-color: inherit; padding: 3px 10px 0 10px;')
                  input(type='checkbox', name='check', checked= tab.check ? true : false, data-toggle='tooltip', data-placement='top', title='Access only for Admins', stylstyle='width: 15px; height: 15px;')
            .form-group
              label(for='webAddress')| Web Address:
              input#webAddress.form-control(type='url', name='address', data-toggle='tooltip', data-placement='top', title='Web Address', value= tab.url, placeholder='Web Address')
            .form-group
              label(for='name')| Name:
              input#name.form-control(type='text', name='name', data-toggle='tooltip', data-placement='top', title='Name', value= tab.name, placeholder='Name')
            .form-group
              label(for='category')| Category:
              .input-group
                select#category.form-control.selectpicker.show-tick.dropup(name='category', data-live-search='true')
                  if(cats.length > 0)
                    option(selected, disabled)| Choose a category
                    each category in cats
                      if category.name == tab.category
                        option(value= category.name, selected)= category.name
                      else
                        option(value= category.name)= category.name
                  else
                    option(selected disabled)| No category created yet
                span.input-group-btn
                  a.btn.btn-default(data-toggle='tooltip', data-placement='top', title='Create Category', href='/settings/category/create')
                    i.fa.fa-plus-circle
            
            button#submit.btn.btn-primary.pull-right(type='submit', data-toggle='tooltip', data-placement='top', title='Submit')
              i.fa.fa-upload
              |  Update

        .container-fluid
          p.help-block.small.text-justify
            i.fa.fa-info-circle
            |  Depending on web page, the capturing may take a few seconds.
            | This page will reload when the process is complete. Check 
            a(href='/settings/logging#tail')| Log
            |  for details.

      .col-xs-2.col-sm-2.col-md-3.col-lg-3
