extends ../includes/header

block content

  include ../includes/message

  form.form(action='/settings/tab/update' method='post' enctype='multipart/form-data' onsubmit='document.getElementById("submit").disabled=true;')
    h3.formHeadline= title

    label| Address (required):
    input.field(type='url' name='address' title='Address (required)' value= query.url required='required' placeholder='Address (required)' autofocus)
    label| Name (optional):
    input.field(type='text' name='name' title='Name (optional)' value= query.name placeholder='Name (optional)')
    input(type='hidden' name='id' value= query.id)
    a#detailsLink(title='Create a category' href='/settings/category/create')
      | Create Category
    label| Category (optional)
    select.category(name='category')
      if(list.length > 0)
        option(selected disabled)| Choose a category
        each category in list
          if category.name == query.category
            option(value= category.name selected)= category.name
          else
            option(value= category.name)= category.name
      else
        option(selected disabled)| No category created yet
    .check
      span| Admin only?
      input(type='checkbox', name='check', title='Access only for admins', checked= query.check ? true : false)

    button#submit.sbt-f(title='Submit')| Update
      i.fa.fa-refresh
    a.cancel(href='/' title='Cancel')| Cancel

  include ../includes/foot
